---
Name: ecommerce_custom_delivery
Before: 'mysite/*'
After: 
  - 

  - 'framework/*'
  - 'cms/*'
  -  'ecommerce/*'

---

EcommerceDBConfig:
  extensions:
    - EcommerceCustomDeliveryEcommerceDBConfigExtension

Product:
  belongs_many_many:
    EcommerceDBConfig: EcommerceDBConfig

Order:
  modifiers:
    - EcommerceCustomDeliveryModifier
